.sticky-action {
  margin-top: 4px;
  width: 400px;
  background-color: ghostwhite;
}

.bill-desc {
  height: 500px;
  width: 100%;
  margin-top: 10px;
  border-bottom: solid 1px lightgray;
}

.sticky-cta {
  height: 50%;
  margin: 50% auto;
}

.dont-display, .disable-vote { 
  display: none !important;
}


.bill-desc-wrapper {
  height: 100%;
  background-color: #fff;
  padding:0 30px;
  overflow-y: hidden;
   
    h2 {
      font-size: 29px;
      padding-left: 40px;
      font-family: $font-family-secondary;
      text-transform: uppercase;
    }

    p{
      padding-left: 28px;
      font-family: $font-family-primary;
      font-size: 17px;
    }
}
.bill-desc-notifications{
  height: 60px;
  display: flex;
  
    span {
      display: block;
      width: 200px;
      text-transform: capitalize;
      font-weight: 500;
      height: 100%;
      padding-top: 15px;
      padding-left: 20px;
   
      &.billProgress {
        border-bottom: solid 4px lightpink;
      }

      &.status {
        border-bottom: solid 4px lightgreen;
      }
      &.created-time {
        border-bottom: solid 4px lightskyblue;
      }
    }
    &.bill-created {
      width: 40px;
      height: 100%;
      border-bottom: solid 4px lightblue;
    }

    .bill-status{
      justify-content: space-between;
      align-items: baseline
    }
}
.bill-desc-footer {
  height: 50px;
  margin-bottom: 10px;
  justify-content: space-evenly;
  align-items: center;

    a {
        height: 100%;
    }

    span {
      display: block;
      width: 110px;
      color: #ea8db2;
      font-weight: 500;
      height: 100%;
      text-align: center;

      &:hover {
          cursor: pointer;
          padding-top: 15px;
          background: black;
          color: #fff;
          transition: 0.2s;
      }
    }
}

.share-button {
  cursor: pointer;
  margin-bottom: 5px;
  width: 32px;
  height: 32px;
}

.share-button:hover:not(:active) {
opacity: 0.75;
}

.social-content {
  width: 32px;
  
}

.opinion-box {
    height: auto;
    background-color: #f5f5f5;
    width: 600px;
    max-width: 600px;
    border-radius: 5px;
    font-weight: 100;
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin: 25px auto;
    box-shadow: 1px 1px #d0d4d9;
}

.opinion-text {
  font-size: 15px;
  font-weight: 500;
  color: black;
}

.opinions {
  height: auto;
  margin-bottom: 50px;
  margin-top: -53px;
  padding: 5%;

.created-time {
  font-size: smaller;
  font-weight: lighter;
}
  
}

.opinion-input {
  margin-left: 20px;
  margin-top: 5px;
}

